@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.main-bg-container {
    background-color: #191a1d;
    background-size: cover;
    height: 100vh;
}

.nav-heading {
    font-size: 20px;
    font-family: "Roboto";
}

.border-style {
    border-color: #4b6cc1;
    border-radius: 1px;
    border-style: solid;
    width: 35px;
    padding: 5px;
}

.main-bg-image {
    width: 200px;
    height: 300px;
    border-radius: 60px;
}

.text-link1 {
    color: skyblue;
}

.main-heading {
    color: white;
    font-family: "Roboto";
    font-weight: 500;
}

.main-discription {
    color: #9aa5b1;
    font-family: roboto;
    font-weight: 600;
    font-size: 20px;
}

.main-button {
    color: white;
    background-color: #4b6cc1;
    padding: 15px;
    width: 130px;
    height: 45px;
    border-radius: 6px;
    border-style: solid;
    border-width: 0px;
}

#image {
    width: 300000%;
}

.about-container {
    background-color: #323f4b;
}

.about-heading {
    color: #cced00;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: bold;
}

.about-main-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
}

.about-image {
    width: 80%;
    border-radius: 10px;
}

.about-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}

.text-link {
    color: #cced00;
    font-weight: bold;
}

.hr-line {
    background-color: white;
    width: 60px;
}

.follow-us-section {
    /* background-color: #BA8328; */
    background-color: #191a1d;
}

.follow-us-section-heading {
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #BAC7F5;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 10px;
    padding-top: 17px;
    text-align: center;
}

.icon-font {
    color: #d0b200;
    font-size: 35px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.footer-card-heading {
    color: #cced00;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.footer-card-text {
    color: #9aa5b1;
    font-size: 14px;
    font-family: "Roboto";
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.footer-card-copyright-container {
    text-align: center;
    color: white;
    background-color: #001c32;
    padding: 10px;
}